
.container__navbar {
    background: #000000;
    opacity: 0.9;
    display: inline-block;
    position: fixed;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: larger;
  }

  .container__navbar a:hover {
    color: #000000;
    position: sticky;
    background: #ffffff;
  }

  .container__navbar a {
    color: #ffffff;
    background: #000000;
    margin-right: 20px;
  }

  .navbar__links {
        display:flex;
        flex-direction: row;
        padding: 8px 0px;
        margin-left: 10px
  }

  .searchbar {
      margin-left: 60%;
      width: 15%
  }
